/* .cocktail-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.cocktail-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.cocktail-card h3 {
  margin-top: 0;
} */
