.homepage {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-column,
.right-column {
  width: 45%;
}

.website-header-home {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.right-column {
  border: #04353e solid 1px;
  border-radius: 15px;
}

.right-column h2 {
  width: 70%;
  text-wrap: wrap;
  text-align: center;
}

.left-column h2 {
  margin-top: 0;
}

.cocktail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.cocktail-search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-buttons button {
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
  background-color: #04353e;
  color: #fdf2c7;
}

.search-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #04353e;
  border-radius: 4px;
}

.cocktail-search-box input {
  width: 400px;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column button {
  margin-bottom: 16px;
}

.available-ingredients {
  margin: 5px 0;
  text-align: center;
}

.ingredient-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ingredient-column {
  flex: 1;
  min-width: 70px;
  margin: 5px;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ingredient-button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  color: #fdf2c7;
  background-color: #04353e;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.ingredient-button.selected {
  background-color: #b4990181;
  color: #04353e;
}

.ingredient-button:hover {
  background-color: #b4990181;
  color: #04353e;
}

.login-message {
  margin-top: -300px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .homepage {
    flex-direction: column;
    padding: 10px;
  }

  .right-column h5 {
    text-align: center;
  }
  .right-column h2 {
    font-size: 20px;
    width: 90%;
  }

  .ingredient-column {
    justify-content: center;
    align-items: center;
  }
  .ingredient-column h4 {
    margin: 3px 3px;
  }
  .ingredient-columns {
    gap: 0px;
    justify-content: center;
    align-items: center;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .cocktail-grid {
    justify-content: center;
    align-items: center;
  }

  .cocktail-grid .cocktail-card {
    width: inherit;
    justify-content: center;
    align-items: center;
  }

  .cocktail-search-box input {
    width: 120%;
  }
  .login-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    margin-top: -250px;
  }
}

@media (max-width: 650px) {
  .ingredient-list {
    width: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .cocktail-grid {
    /* grid-template-columns: max-content; */

    justify-content: center;
    align-items: center;
  }
  .cocktail-grid .cocktail-card {
    width: inherit;
    justify-content: center;
    align-items: center;
  }

  .cocktail-search-box input {
    padding: 5px;
  }

  .ingredient-button {
    padding: 4px 4px;
    font-size: 12px;
    width: 60px;
  }
  .ingredient-columns {
    gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .ingredient-column {
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .website-header-home h1 {
    font-size: 24px;
  }

  .website-header-home h3 {
    font-size: 16px;
  }

  .login-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    margin-top: -250px;
  }
}
