@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  font-size: 30px;
  text-align: center;
  padding-top: 20vh;
}

.other-loading div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  text-align: center;
}
.other-loading {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 0px;
}

.loading-container p {
  margin-left: 50px;
  font-size: 80px;
}

.shaker {
  width: 300px;
  animation: shake 0.5s infinite;
}
