.cocktail-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #04353e;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 8px rgb(4, 53, 62, 0.5);
}

#favorite-details {
  background-color: #04353e;
}
#favorite-details h2 {
  background-color: #04353e;
  color: #fdf2c7;
}

#fav-button-details {
  background-color: rgb(168, 168, 41);
  align-items: center;
  cursor: pointer;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* font-size: 1rem; */
}

#unfav-button-details {
  background-color: initial;
  background-color: #fdf2c7;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

#unfav-button-details:hover {
  background-color: #fdf2c7;
}
/* #fav-button:hover {
  background-color: #fdf2c7;
} */

#shake {
  width: 50px;
  height: 50px;
  margin-top: -9px;
  margin-bottom: -17px;
  background-color: transparent;
}

.comments-list-username-comment {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

/* .comments-list-username-comment p {
  justify-content: left; 
  text-align: left;
  align-items: start;

  border: yellow solid 1px;
} */

.comments-list-username-comment * {
  overflow-wrap: anywhere;
}

.cocktail-details img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cocktail-details h1 {
  font-size: 2rem;
  margin: 10px 0;
  color: #fdf2c7;
  background-color: #04353e;
}

.cocktail-details p {
  font-size: 1rem;
  margin: 10px 0;
  color: #fdf2c7;
  background-color: #04353e;
}

.cocktail-details h3 {
  font-size: 1.5rem;
  margin: 20px 0 10px;
  color: #fdf2c7;
  background-color: #04353e;
}

.cocktail-details ul {
  list-style-type: none;
  padding: 0;
  background-color: #04353e;
}

.cocktail-details li {
  font-size: 1rem;
  color: #fdf2c7;
  margin-bottom: 5px;
  background-color: #04353e;
}

.comments-list {
  width: 100%;
  margin: 8px 0px;
}

.comment-textarea {
  width: 300px;
}

.comments-list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #064151;
  border-radius: 8px;
  margin-bottom: 10px;
}

.comments-list li p {
  background-color: #064151;
  color: #fdf2c7;
  margin: 5px 0;
  width: 600px;
}

.comments-list li div {
  display: flex;
  gap: 10px;
  background-color: #064151;
  align-items: center;
  width: 100%;

  /* justify-content: space-between; */
}

.comment-area {
  background-color: #04353e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 10px;
  width: 100%;
}

.comment-space {
  background-color: #04353e;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.comment-space button {
  width: 10%;
  border-radius: 7px;
  cursor: pointer;
}
.comment-space button:hover {
  background-color: rgba(0, 128, 49, 0.705);
  color: #fdf2c7;
}

.details-textarea {
  margin-bottom: 10px;
}

.comments-list li div button {
  display: flex;
  justify-content: right;
  border-radius: 8px;
}
.comments-list li .update-canel-buttons {
  display: flex;
  align-items: right;
  justify-content: right;
}

.edit-delete-buttons {
  display: flex;
  align-items: right;
  justify-content: right;
}
.edit-delete-buttons .edit-button-next-to-delete {
  width: 55px;
  justify-content: center;
}

.comment-textarea,
.details-textarea {
  width: 600px;
  height: 78px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #fdf2c7;
  background-color: #064151;
  color: #fdf2c7;
}

/* Edit button */
.comments-list button:first-of-type {
  background-color: #04353e;
  color: #fff;
}

.comments-list button:first-of-type:hover {
  background-color: #b4990181;
  color: #fff;
}

/* Delete button */
.comments-list button:last-of-type {
  background-color: #04353e;
  color: #fff;
}

.comments-list button:last-of-type:hover {
  background-color: #8f06069d;
  color: #fff;
}

@media (max-width: 768px) {
  .cocktail-details {
    text-align: center;
    font-size: 0.5em;
  }
  #fav-button-details {
    width: 60%;
  }
  #unfav-button-details {
    width: 60%;
  }
  .comments-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8px 0px;
  }
  .edit-delete-buttons {
    align-items: center;
    justify-content: center;
  }
  .details-textarea {
    width: 80%;
  }
  .comment-space {
    justify-content: center;
    align-items: center;
  }
  .comment-space button {
    width: 50%;
  }
}
