.cocktail-search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cocktail-card {
  border: 1px solid #04353e;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 2px 2px 10px rgb(4, 53, 62, 0.5);
}

.cocktail-card h2 {
  margin-top: 0;
}

.cocktail-card ul {
  padding-left: 20px;
}

.search-input {
  width: 250px;
}

.search-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.search-toggle-buttons button {
  width: 200px;
  margin: 0px 10px;
  border-radius: 8px;
  background-color: #04353e;
  color: #fdf2c7;
  cursor: pointer;
}

.cocktail-search-box button {
  border-radius: 8px;
  background-color: #04353e;
  color: #fdf2c7;
  cursor: pointer;
}

.search-toggle-buttons button:hover {
  background-color: #04353eb6;
  color: #fdf2c7;
  cursor: pointer;
}

.cocktail-search-box button:hover {
  background-color: #04353eb6;
  color: #fdf2c7;
  cursor: pointer;
}
