/* #card-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.cocktail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  padding: 20px;
}

#creator {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: #04353e 1px solid;
  box-shadow: 0px 10px 9px -10px #04353e;
}

#list-grid {
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

/* #list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* .card-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */

.cocktail-card {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */
  /* background-color: #fdf2c7; */
  /* border: 1px solid #04353e; */
  /* border-radius: 8px; */
  /* padding: 15px; */
  /* text-decoration: none; */
  /* color: #000; */
  transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
}

.cocktail-list-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cocktail-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 15px rgb(4, 53, 62, 0.5);
}

.cocktail-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.cocktail-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.cocktail-card p {
  font-size: 1rem;
  margin: 5px 0;
}

.cocktail-card .favorite-button {
  align-items: center;
  cursor: pointer;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#fav-button {
  background-color: rgb(168, 168, 41);
}
#unfav-button:hover {
  background-color: rgb(168, 168, 41);
}

.no-underline {
  text-decoration: none;
}

.cocktail-card .unfavorite-button {
  background-color: initial;

  cursor: pointer;
  align-items: center;

  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  #creator {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: #04353e 1px solid;
    box-shadow: 0px 10px 9px -10px #04353e;
  }

  #list-card {
    width: 70px;
    height: auto;
    padding: 10px;
  }

  #list-grid {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    display: grid;
    margin-right: 10px;
  }

  #list-card img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  #list-card button {
    font-size: 7px;
  }

  #list-card h2 {
    margin-top: -8px;
    font-size: 0.7em;
  }
  #list-card p {
    font-size: 0.4em;
    margin-top: -8px;
  }

  #list-card .unfavorite-button {
    width: 70%;
  }
  #list-card .favorite-button {
    width: 70%;
  }
}
